:host {
    display: block;
  }
  a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
  }
  .toolbar {
    @apply --layout-horizontal;
    @apply --layout-end-justified;
    background-color: rgba(255, 255, 255, 0.95);
  }
  #flag-image-container{
    height: 10em;
    position: relative 
  }
  .tabs {
    height: 100%;
    @apply --layout-horizontal;
  }
  .tabs > a {
    @apply --layout-vertical;
    @apply --layout-center-center;
    margin: 12px 16px 12px;
    border-bottom: 1px solid #222;
  }
  header {
    @apply --layout-vertical;
    @apply --layout-center-center;
    height: calc(100vh - 64px);
    padding: 0 16px;
    background-image: url('//app-layout-assets.appspot.com/assets/landing-page/glass_explorer_food_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
  }
  header > h2 {
    font-size: 56px;
    font-weight: 300;
    margin: 0;
  }
  header > p {
    font-size: 32px;
  }
  section {
    padding: 88px 16px;
  }
  .container {
    @apply --layout-horizontal;
    max-width: 800px;
    margin: 0 auto;
  }
  .container > * {
    @apply --layout-flex;
  }
  .container img {
    max-width: 100%;
    max-height: 100%;
  }
  .container h3 {
    font-size: 32px;
    font-weight: 300;
    margin: 24px 0;
  }
  .container p {
    line-height: 1.5;
  }
  @media (max-width: 600px) {
    .container {
      @apply --layout-vertical;
    }
  }
  .red{
    background:#548277;
    color: aliceblue;
  }
  .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    height: 500px;
    overflow: auto;
    padding: 15px;
    margin:auto;
  }
  .board{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 750px;
    padding: 50px;
    overflow: auto;
    
  }
  .center{
    padding: 50px 0;
    text-align: center;
    width:100%;
  }
  .padd{
    padding: 15px;
  }
  .column_2 {
    float: left;
    width: 50%;
  }
  .verSyn p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .Gamerinfo{
      font-size: 3ch;
      text-shadow: 2px 2px #ffffff;
  }

  html{
    background: url("/data/80225.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }